<head>
  <link rel="stylesheet" href="/static/example.css">
  <script src="/static/example.js"></script>
</head>

<body>
  <h1 class="my-class" id="hello">
   Welcome to Random Number Generator
  </h1>

  <p class="center-para">
    {{Hello World!!!}}
  </p>

  <p class="center-para" id="random-number">
    Hey folks, click below o get a random number:) :
  </p>

  <p class="center-para">
    <button class="big-button" onclick="generateAndColorNumber()">
      Generate Random Number and Change Color
    </button>
  </p>
</body>
