.my-class {
  text-align: center;
  color: lavenderblush;
  background-color: Maroon;
}

.center-para {
  text-align: center;
  margin-top: 20px;
  color: black(171, 73, 90);
  background-color: white;
}

.big-button {
  font-size: large;
  color: black(171, 73, 90);
  background-color: pink(125, 93, 125);
}
